# DNN integration in progress, not working yet..
Parameters dynaspeak-wrapper.params
#Parameters  ${PARAMFILE_PATH}/dynaspeak-hclg.params
Grammar xword-pfsg
RecognizerType dnn
SamplingRate 8000

# Endpointing parameters, don't edit:
# EPParameters /home/sprats201/julien/scenic_validation/kws-ds/kws_dynapy_kaldi/domains/generic_2g2g_prune1e-8_55k_dnn_8k_5x1200/ep.parameters
# EPGrammar TopLevel

# turns on logging
EnableLogging	false
# Default "LogBase" will be "log.txt"
# Default "LogDirectory" will be set to workspace
# LogBase		log.txt
# output only to logfile, not to stdout
DisableStdout   true
